<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <bgsound src="/img/song.wav">
    <title>Document</title>
</head>
<body id="background-detalhes">
    <h1>DETALHES</h1>
    <audio controls loop>
      <source src="/img/song.wav" type="audio/wav">
        Your browser does not support the <code>audio</code> element.
    </audio>

    <nav>
      <a id="botao_inicio"href="/">Inicio</a>
      <a id="botao_cadastro"href="cadastro">Cadastro</a>
      <!--<section id="message">
          <p>Mensagem temp</p> <span id="close">&times;</span>
      </section>-->
    </nav>

</body>
<footer>
  <section>
    Ícones feitos por
    <a href="https://www.freepik.com" title="Freepik">Freepik
    </a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a>
  </section>
</footer>
</html>
