<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <bgsound src="/img/song.wav">
    <link rel="shortcut icon" type="imagex/ico" href="/img/pokemon.ico">
    <title>Document</title>
</head>
<body id="background-detalhes">
    <h1>DETALHES</h1>
   
    <nav>
      <article id="som">
        <audio controls loop>
          <source src="/img/song.wav" type="audio/wav">
        </audio>
      </article>
      <ul>
        <li id="botao1">
          <a href="cadastro">Cadastro</a>
        </li>
        <li id="botao2">
          <a href="/">Inicio</a>
        </li>
      </ul>
     
      <!--<section id="message">
          <p>Mensagem temp</p> <span id="close">&times;</span>
      </section>-->
    </nav>

</body>
<footer>
</footer>
</html>
