<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <bgsound src="/img/song.wav">
    <link rel="shortcut icon" type="imagex/ico" href="/img/pokemon.ico">
    <title>Detalhes</title>
</head>
<body id="background-detalhes">


    <header>
  <h1 class="t1">DETALHES</h1>

  <nav>
    <article id="som">
      <audio controls loop>
        <source src="/img/song.wav" type="audio/wav">
      </audio>
    </article>

    <a class="c" id="c1" href="cadastro">Cadastro</a>

    <a class="i" id="i1" href="/">Inicio</a>

  </nav>
    </header>

</body>
<footer>
</footer>
</html>
