<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex</title>
</head>
<body id="bg" background="/public/img/background.jpg">
    <nav id="navegacao">
        <button>Inicio</button>
        <button>Cadastro</button>
        <button>Detalhes</button>
    </nav>
    <h1>Pokedex</h1>
    <h2><% lista %></h2>
    <ul>
        <% lista.forEach(item => { %>
            <li><%= item.numero %></li>
        <% }) %> 
    </ul>
    <a href="detalhes">Detalhes</a>
    <a href="cadastro">Cadastro</a>
    
</body>
</html>