body,
html {
  height: 100%;
}
#bg {
  background-image: url("/public/img/background.jpg");
}
@font-face {
  font-family: Pokemon Hollow;
  src: url(/public/css/Pokemon\ Hollow.ttf);
}

@font-face {
  font-family: Pokemon Solid;
  src: url(/public/css/Pokemon\ Solid.ttf);
}
h1 {
  color: rgb(230, 73, 25);
  font-family: Pokemon Solid;
  font-size: 50px;
  -webkit-text-stroke: 0.8px rgb(7, 119, 122);
}
