#background-detalhes {
  margin: 0;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#background-index {
  margin: 0;
  background-image: url("/img/pokedex1.jpeg");
  background-color: rgb(173, 62, 62);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}
#background-cadastro {
  margin: 0;
  background-image: url("/img/background-cadastro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@font-face {
  font-family: Pokemon Hollow;
  src: url(/public/css/Pokemon\ Hollow.ttf);
}

@font-face {
  font-family: Pokemon Solid;
  src: url(/public/css/Pokemon\ Solid.ttf);
}
h1 {
  color: rgb(236, 243, 23);
  font-family: Pokemon Solid;
  font-size: 50px;
  -webkit-text-stroke: 0.8px rgb(7, 119, 122);
}
#message {
  display: flex;
}
li {
  list-style: none;
}
img {
  height: 200px;
  width: 200px;
}
#rodape {
  display: flex;
  ;
}
